<section class="sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="port-project-info">
                    <li><span>Project by:</span> John Doe</li>
                    <li><span>date:</span> 18 August 2018</li>
                    <li><span>Skills:</span> PSD / HTML5 / CSS3</li>
                    <li><span>Client:</span>Benjamin</li>
                    <li><span>Website:</span> <a href="#" class="primary">www.example.com</a></li>
                </ul>
                <div class="clearfix"></div>

                <ul class="social-icons h-anim-rotate socila-sm">
                    <li class="hover-rss">
                        <a href="#">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="hover-facebook">
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="hover-twitter">
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="hover-vimeo">
                        <a href="#">
                            <i class="fa fa-vimeo" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="hover-youtube">
                        <a href="#">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="hover-stumbleupon">
                        <a href="#">
                            <i class="fa fa-stumbleupon" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li class="hover-android">
                        <a href="#">
                            <i class="fa fa-android" aria-hidden="true"></i>
                        </a>
                    </li>


                </ul>
            </div>
            <!--end item-->

            <div class="col-md-6">
                <h3 class="font-weight-7">Project description</h3>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit. Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula Etiam sit amet dolor Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam tellus diam volutpat laoreet vel bibendum. </p>
                <p>
                    Lorem ipsum dolor sit amet consectetuer adipiscing elit. Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula Etiam sit amet dolor Vestibulum ante ipsum primis in faucibus
                </p>
            </div>
            <!--end item-->

        </div>
    </div>
</section>
