<div class="title-of-section">Auction Center</div>
<div class="owl-carousel nav-style2" data-nav="true" data-autoplay="false" data-dots="true" data-loop="true" data-margin="20" data-responsive='{"0":{"items":1},"480":{"items":2},"640":{"items":3},"768":{"items":2},"992":{"items":4}}'>
    <div class="block-top-categori-item">
        <a href=""><img src="{{asset('store/images/h1.jpg')}}" alt="h1"></a>
        <div class="block-top-categori-title">Accessories</div>
    </div>
    <div class="block-top-categori-item">
        <a href=""><img src="{{asset('store/images/h2.jpg')}}" alt="h2"></a>
        <div class="block-top-categori-title">Fashions Jacket</div>
    </div>
    <div class="block-top-categori-item">
        <a href=""><img src="{{asset('store/images/h3.jpg')}}" alt="h3"></a>
        <div class="block-top-categori-title">Shoes Sport</div>
    </div>
    <div class="block-top-categori-item">
        <a href=""><img src="{{asset('store/images/h4.jpg')}}" alt="h4"></a>
        <div class="block-top-categori-title">Handbags</div>
    </div>
</div>
