<div class="title-of-section">Supported Categories</div>
<div class="owl-carousel nav-style2" data-nav="true" data-autoplay="true" data-dots="true" data-loop="true" data-margin="20" data-responsive='{"0":{"items":1},"480":{"items":2},"640":{"items":3},"768":{"items":2},"992":{"items":4}}'>
   {{ render(controller('App\\Controller\\StoreUtilityController:supportedCategories', {"block":"supportedCategories"}), {"default":'Loading Cart....'}) }}                               
</div>

