<div class="form-group col-md-6">
    {{ form_widget(oi.product, { 'attr': {class: 'form-control  select2'} } ) }}
</div>
<div class="form-group col-md-4">
    {{ form_widget(oi.quantity, { 'attr': {class: 'form-control', placeholder: 'Enter quantity'} } ) }}
</div>
