<div class="block-content">
    <div class="categori-search">
        <select data-placeholder="All Categories" class="chosen-select categori-search-option">
            <option value="">All Categories</option>
            <optgroup label="- Electronics">
                <option>Batteries & Chargens</option>
                <option>Headphone & Headsets</option>
                <option>Mp3 Player & Acessories</option>
            </optgroup>
            <optgroup label="- Smartphone & Table">
                <option>Batteries & Chargens</option>
                <option>Headphone & Headsets</option>
                <option>Mp3 Player & Acessories</option>
            </optgroup>
            <optgroup label="- Electronics">
                <option>Batteries & Chargens</option>
                <option>Headphone & Headsets</option>
                <option>Mp3 Player & Acessories</option>
            </optgroup>
            <optgroup label="- Smartphone & Table">
                <option>Batteries & Chargens</option>
                <option>Headphone & Headsets</option>
                <option>Mp3 Player & Acessories</option>
            </optgroup>
        </select>
    </div>
    <div class="form-search">
        <form>
            <div class="box-group">
                <input type="text" class="form-control" placeholder="Search for equipment to hire...">
                <button class="btn btn-search" type="button"><span>search</span></button>
            </div>
        </form>
    </div>
</div>
