<!-- header-top -->
<div class="header-top">
    <div class="container">
        <!-- hotline -->
        <ul class="nav-top-left" >
            <li><a href="">Welcome to KryStal - Always free delivery</a></li>
        </ul><!-- hotline -->
        <!-- heder links -->
        <ul class="nav-top-right krystal-nav">
            <li ><a href="">Newsletter</a></li>
            <li class="menu-item-has-children">
                <a href="" class="dropdown-toggle">
                    <img src="images/home1/l1.jpg" alt="flag">English<i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="submenu parent-megamenu">
                    <li class="switcher-option">
                        <a href="" class="flag"><img src="images/home1/l1.jpg" alt="flag">English</a>
                    </li>
                    <li class="switcher-option">
                        <a href="" class="flag"><img src="images/home1/l2.jpg" alt="flag">Hungary</a>
                    </li>
                    <li class="switcher-option">
                        <a href="" class="flag"><img src="images/home1/l3.jpg" alt="flag">German</a>
                    </li>
                    <li class="switcher-option">
                        <a href="" class="flag"><img src="images/home1/l4.jpg" alt="flag">French</a>
                    </li>
                    <li class="switcher-option">
                        <a href="" class="flag"><img src="images/home1/l5.jpg" alt="flag">Canada</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="#" class="dropdown-toggle">
                    <span>Dollar (US)</span><i class="fa fa-angle-down" aria-hidden="true"></i> 
                </a>
                <ul class="submenu parent-megamenu">
                    <li class="switcher-option">
                        <a href="" class="switcher-flag icon">Pound (GBP)</a>
                    </li>
                    <li class="switcher-option">
                        <a href="" class="switcher-flag icon">Euro (EUR)</a>
                    </li>
                    <li class="switcher-option">
                        <a href="" class="switcher-flag icon">Dollar (USD)</a>
                    </li>
                </ul>
            </li>
            <li><a href=""><i class="fa fa-user" aria-hidden="true"></i>Register / Sign in</a></li>
        </ul><!-- heder links -->
    </div>
</div> <!-- header-top -->
