<div class="block-the-blog">
    <div class="container">
        <div class="title-of-section">From the BuildersHub Blog</div>
        <div class="owl-carousel nav-style2" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":2},"992":{"items":3}}'>
            <div class="blog-item">
                <div class="post-thumb">
                    <a href=""><img src="images/home3/blog1.jpg" alt="blog1"></a>
                    <span class="date">2017<span>Jan 06</span></span>
                </div>
                <div class="post-item-info">
                    <h3 class="post-name"><a href="">It’s all about the bread: whole grain home</a></h3>
                    <div class="post-metas">
                        <span class="author">Post by: <span>Admin</span></span>
                        <span class="comment"><i class="fa fa-comment" aria-hidden="true"></i>36 Comments</span>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="post-thumb">
                    <a href=""><img src="images/home3/blog2.jpg" alt="blog2"></a>
                    <span class="date">2017<span>Jan 06</span></span>
                </div>
                <div class="post-item-info">
                    <h3 class="post-name"><a href="">It’s all about the bread: whole grain home</a></h3>
                    <div class="post-metas">
                        <span class="author">Post by: <span>Admin</span></span>
                        <span class="comment"><i class="fa fa-comment" aria-hidden="true"></i>36 Comments</span>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="post-thumb">
                    <a href=""><img src="images/home3/blog3.jpg" alt="blog3"></a>
                    <span class="date">2017<span>Jan 06</span></span>
                </div>
                <div class="post-item-info">
                    <h3 class="post-name"><a href="">It’s all about the bread: whole grain home</a></h3>
                    <div class="post-metas">
                        <span class="author">Post by: <span>Admin</span></span>
                        <span class="comment"><i class="fa fa-comment" aria-hidden="true"></i>36 Comments</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
