<div class="owl-carousel nav-style2 border-background equal-container" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":3},"1000":{"items":4}}'>
    <div class="product-item style1">
        <div class="product-inner equal-elem">
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href=""><img src="images/home3/s1.jpg" alt="s1"></a>
                </div>
                <span class="onsale">-50%</span>
                <a href="" class="quick-view">Quick View</a>
            </div>
            <div class="product-innfo">
                <div class="product-name"><a href="">Vegan Kitchen Essentials</a></div>
                <span class="price">
                    <ins>$229.00</ins>
                    <del>$259.00</del>
                </span>
                <span class="star-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="review">5 Review(s)</span>
                </span>
                <div class="group-btn-hover style2">
                    <a href="" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                    <a href="" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                    <a href="" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-item style1">
        <div class="product-inner equal-elem">
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href=""><img src="images/home3/s2.jpg" alt="s2"></a>
                </div>
                <span class="onsale">-50%</span>
                <a href="" class="quick-view">Quick View</a>
            </div>
            <div class="product-innfo"> 
                <div class="product-name"><a href="">Electrolux Washing Machine.</a></div>
                <span class="price">
                    <ins>$229.00</ins>
                    <del>$259.00</del>
                </span>
                <span class="star-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="review">5 Review(s)</span>
                </span>
                <div class="group-btn-hover style2">
                    <a href="" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                    <a href="" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                    <a href="" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-item style1">
        <div class="product-inner equal-elem">
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href=""><img src="images/home3/s3.jpg" alt="s3"></a>
                </div>
                <span class="onsale">-50%</span>
                <a href="" class="quick-view">Quick View</a>
            </div>
            <div class="product-innfo">
                <div class="product-name"><a href="">Friteuse Tristar FR6929 1,75 l</a></div>
                <span class="price">
                    <ins>$229.00</ins>
                    <del>$259.00</del>
                </span>
                <span class="star-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="review">5 Review(s)</span>
                </span>
                <div class="group-btn-hover style2">
                    <a href="" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                    <a href="" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                    <a href="" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-item style1">
        <div class="product-inner equal-elem">
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href=""><img src="images/home3/s4.jpg" alt="s4"></a>
                </div>
                <span class="onsale">-50%</span>
                <a href="" class="quick-view">Quick View</a>
            </div>
            <div class="product-innfo">
                <div class="product-name"><a href="">Smartphone MTK6737 Quad Core.</a></div>
                <span class="price">
                    <ins>$229.00</ins>
                    <del>$259.00</del>
                </span>
                <div class="group-btn-hover style2">
                    <a href="" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                    <a href="" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                    <a href="" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
