<div class="row">
    <div class="col-md-6">
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">Your <span class="text-success">Previous Orders</span></h3>                    
                <div class="box-tools pull-right">                               
                </div>                  
            </div><!-- /.box-header -->
            <div class="box-body">
                This list all previous orders on BuildersHub
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-shopping-cart"> </i> Your <span class="text-success">Shopping Cart</span></h3>                    
                <div class="box-tools pull-right">                              
                </div>                  
            </div><!-- /.box-header -->
            <div class="box-body">
                This list all previous orders on BuildersHub
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Your <span class="text-success"> Requests</span></h3>                    
                <div class="box-tools pull-right">                               
                </div>                  
            </div><!-- /.box-header -->
            <div class="box-body">
                This list all previous orders on BuildersHub
            </div>
        </div>
    </div>
</div>