{% extends "emails/emails.base.html.twig" %}
{% block headline %}
   Hi {{user is defined ? user.firstname }}! You recently requested a password reset on
    <a href="{{url('home')}}" target="_blank">BuildersHub</a>
    <p>
        Use the link below to reset your password.
    </p>
{% endblock %}
{% block callToAction  %}
    <a href="{{url('reset_password',{'id':user.id, 'token':token})}}" target="_blank"> 
        Click to Reset Your Password
    </a>
{% endblock %}