<style>
    #mqrDlg {
        top:5%;
        right:20%;
        left: 5%;
        outline: none;
    }
    #mqrDlg .modal-dialog  {width:75%;}
    @media screen and (min-width: 768px) {
        #mqrDlg .modal-dialog  {width:700px;}
    }
</style>
<div id="mqrDlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="myModalLabel"> <span style="color: green"><strong>Multiple Quotation Request Form</strong></span>
                    <small class="block"> By sending a generic request you get multiple suppliers offering the best of deals</small>                
                </h4>
            </div>   
            <div class="modal-body">
                <div class="smart-wrap">
                    <div class="smart-forms smart-container transparent wrap-full">
                        {{ render_esi(controller('App\\Controller\\TransactionController::mqrForm'), {"default":'Loading form....'}) }} 
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
