<div class="ce4-feature-box-3 margin-bottom box-shadow-1 hover-shadow-1">
    <section class="sec-padding">
        <div class="row">
            <div class="col-md-12">
                <h5><strong> <span  class="text-success"><i class="fa fa-users"></i> {{firm}}'s</span> Clientele</strong></h5>             
                <div class="text-box xdark padding-4"> 
                    <ul class="clients-list border-dark grid-cols-4 hover-4">
                        <li><a href="#"><img src="images/shortcodes/24.png" alt=""></a></li>
                        <li><a href="#"><img src="images/shortcodes/14.png" alt=""></a></li>
                        <li><a href="#"><img src="images/shortcodes/15.png" alt=""></a></li>
                        <li><a href="#"><img src="images/shortcodes/16.png" alt=""></a></li>
                        <li><a href="#"><img src="images/shortcodes/23.png" alt=""></a></li>
                        <li><a href="#"><img src="images/shortcodes/18.png" alt=""></a></li>
                        <li><a href="#"><img src="images/shortcodes/19.png" alt=""></a></li>
                        <li><a href="#"><img src="images/shortcodes/20.png" alt=""></a></li>				
                    </ul>
                </div>
            </div>
            <!--end item--> 
        </div>
    </section>
</div>
