<div class="ce4-feature-box-3 margin-bottom box-shadow-1 hover-shadow-1">
    <div class="col-md-9">
        <h5><i class="fa fa-briefcase"></i> Projects Undertaken by <span class="text-danger">{{firm}}</span>
            <small style="display: block; font-size: 0.6em">These are projects that have been or are being executed by this company</small>
        </h5>
    </div>
    <div class="col-md-3">
        <a  class="btn btn-tiny btn-success xround-1 pull-right" href="{{path('save_firm_work', {'slug':firm.slug})}}"><span class="fa fa-pencil"> Add New Project</span></a>                                      
    </div>
    <div class="col-divider-margin-1"></div>
    <div class=" divider-line solid light"></div>  
    <div class="col-divider-margin-1"></div> 
</div>

