<div id="supplier-dialog" class="smartforms-modal" role="alert">
    <div class="smartforms-modal-container">
        <div class="smartforms-modal-header">
            <h3 style="color: white">Suppliers of Building Materials & Equipment</h3>
            <a href="#" class="smartforms-modal-close">&times;</a>            
        </div><!-- .smartforms-modal-header -->
        <div class="smartforms-modal-body">
            <div class="smart-wrap">
                <div class="smart-forms smart-container wrap-full">
                    <div class="form-body">
                        <div class="alert alert-info">
                            If you are a supplier of building materials, construction supplies, construction equipment, hand tools, equipment parts, 
                            interior decor, furniture, lighting & furniture, imported doors, sanitary and kitchen etc, BuildersHub is the to meet potential buyers. 
                        </div>
                    </div><!-- end .form-body section -->
                    <div class="form-footer">  
                        <button type="button" class="btn btn-action btn-medium btn-default" id="cancelSmartModal">Cancel  </button>                      
                        <a href="{{path('register_store')}}" class="btn btn-action btn-lg btn-success pull-right" target="_blank"><i class="fa fa-shopping-cart"></i> Register as Supplier</a>
                    </div><!-- end .form-footer section -->
                </div><!-- end .smart-forms section -->
            </div><!-- end .smart-wrap section -->            
        </div><!-- .smartforms-modal-body -->
    </div><!-- .smartforms-modal-container -->
</div><!-- .smartforms-modal 1 -->
<div id="firm-dialog" class="smartforms-modal" role="alert">
    <div class="smartforms-modal-container">
        <div class="smartforms-modal-header">
            <h3 style="color: white">Construction / Consulting Firms</h3>
            <a href="#" class="smartforms-modal-close">&times;</a>            
        </div><!-- .smartforms-modal-header -->
        <div class="smartforms-modal-body">
            <div class="smart-wrap">
                <div class="smart-forms smart-container wrap-full">
                    <div class="form-body">
                        <div class="alert alert-info">
                            If you own a construction or consulting firm, take advantage of the many tools available on <strong>BuildersHub</strong> to promote your business.
                            Join our online business directory and create a business profile that highlights your work and areas of expertise or operations.
                        </div>
                    </div><!-- end .form-body section -->
                    <div class="form-footer">  
                        <button type="button" class="btn btn-action btn-lg btn-default" id="cancelSmartModal">Cancel  </button>                      
                        <a href="{{path('register_store', {'type':'firm'})}}" class="btn btn-action btn-lg btn-success pull-right" target="_blank"><i class="fa fa-certificate"></i> Register Your Firm</a>
                    </div><!-- end .form-footer section -->
                </div><!-- end .smart-forms section -->
            </div><!-- end .smart-wrap section -->            
        </div><!-- .smartforms-modal-body -->
    </div><!-- .smartforms-modal-container -->
</div><!-- .smartforms-modal 1 -->
<div id="property-dialog" class="smartforms-modal" role="alert">
    <div class="smartforms-modal-container">
        <div class="smartforms-modal-header">
            <h3  style="color: white">Properties & Real Estates</h3>
            <a href="#" class="smartforms-modal-close">&times;</a>            
        </div><!-- .smartforms-modal-header -->
        <div class="smartforms-modal-body">
            <div class="smart-wrap">
                <div class="smart-forms smart-container wrap-full">
                    <div class="form-body">
                        <div class="alert alert-info">
                            Are you a real estate developer, a franchise business dealing with real estates or a property owner wishing to sell or rent out your
                            property, turn to BuildersHub to advertise.
                        </div>
                    </div><!-- end .form-body section -->
                    <div class="form-footer">   
                        <button type="button" class="btn btn-action btn-medium btn-default" id="cancelSmartModal">Cancel  </button>                      
                        <a href="{{path('register_store', {'type':'property'})}}" class="btn btn-action btn-lg btn-success pull-right" target="_blank"><i class="fa fa-bullseye"></i> Advertise your Property</a>
                    </div><!-- end .form-footer section -->
                </div><!-- end .smart-forms section -->
            </div><!-- end .smart-wrap section -->            
        </div><!-- .smartforms-modal-body -->
    </div><!-- .smartforms-modal-container -->
</div><!-- .smartforms-modal 2 -->