<div class="modal-dialog" style="width:100%; ">
    <div class="modal-content">
        <div class="modal-header">
            {% block modalHeader %}
                <h3 class="modal-title" id="myModalLabel">Supplier Registration</h3>
            {% endblock %}
        </div>
        <div class="modal-body">
            <div class="row">
                {% block modalBody %}
                    <div class="col-xs-12">
                        {% if error is defined and error|length > 0 %}
                            <div class="alert alert-danger">
                                <h4><i class="icon fa fa-ban"></i> Login Failure</h4>                   
                                <small>{{error.message}}</small>
                            </div>
                        {% endif %}
                        {% set timeOut = app.request.get('timeOut')%}
                        {% if timeOut|length>0 %}
                            <div class="alert alert-danger">
                                <i class="fa fa-clock-o pull-right"></i> 
                                <strong>{{ timeOut }}</strong>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-6">
                        <div class="well">
                            <form id="loginForm" action="#" method="post">
                                <div class="form-group">
                                    <label for="username" class="control-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="_username" placeholder="Enter your email" required value="">

                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" id="password" name="_password" class="form-control" placeholder="Enter your password" />

                                    <span class="help-block"></span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" id="remember"> Remember login
                                    </label>
                                    <p class="help-block">(if this is a private computer)</p>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                <button type="submit" class="btn btn-success btn-block">Login</button>
                                <a href="#" class="btn btn-default btn-block">Forgotten Password</a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="lead">Register now for <span class="text-success">FREE</span></p>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="fa fa-check text-success"></span> See all your orders</li>
                            <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                            <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                            <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                            <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            <li><a href="/read-more/"><u>Read more</u></a></li>
                        </ul>
                        <p><a href="#" class="btn btn-info btn-block">No Account? Register Now!</a></p>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
