 <section class="section-light">
        <div class="container">
            <div class="row sec-padding hl-more-top-padd">
                <div class="col-md-12 text-center"> <h3 class="uppercase less-mar-1 font-weight-5 raleway">Tabs Full Width Horizontal</h3></div>
                <div class="clearfix"></div>
                <br><br>

                <div class="col-md-12">
                    <div class="col-md-12 nopadding">
                        <div class="tab-navbar-main tabstyle-9">
                            <ul class="responsive-tabs">
                                <li class="active"><a href="#example-1-tab-1"><span class="icon-global"></span> <br>
                                        restaurants</a></li>
                                <li><a href="#example-1-tab-2"><span class="icon-layers"></span> <br>
                                        Hotel Rooms</a></li>
                                <li><a href="#example-1-tab-3"><span class="icon-desktop"></span> <br>
                                        Spa &amp; Massage</a></li>
                                <li><a href="#example-1-tab-4" target="_self"><span class="icon-envelope"></span> <br>
                                        Bar</a></li>
                                <li><a href="#example-1-tab-5" target="_self"><span class="icon-briefcase"></span> <br>
                                        sport-club</a></li>
                                <li><a href="#example-1-tab-6" target="_self"><span class="icon-lock"></span> <br>
                                        Events</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content-holder-9">
                        <div class="responsive-tabs-content">
                            <div id="example-1-tab-1" class="responsive-tabs-panel" style="display: block;">
                                <div class="responsive-tab-title ttitle"><p><strong><span class="icon-global"></span> <br>
                                            restaurants</strong></p></div>
                                <div class="col-md-7">
                                    <div class="tabstyle-9-feature-box-2">
                                        <h4 class="uppercase">our restaurant</h4>
                                        <h6 class="raleway">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue</h6>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor sit amet consectetuer adipiscing eli Suspendisse et justo sit amet justo elite. </p>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor. </p>
                                        <br>
                                        <a class="read-more" href="http://www.gsrthemes.com/themes/matri/shortcodes-tabs.html#">Read more &nbsp; &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                </div>
                                <!--end item-->

                                <div class="col-md-5 col-sm-5 col-xs-12 margin-bottom">
                                    <div class="tabstyle-9-feature-box"> <img src="./shortcodes-tabs_files/hl-10.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                <!--end item--> 
                            </div>
                            <!--end panel 1-->

                            <div id="example-1-tab-2" class="responsive-tabs-panel" style="display: none;">
                                <div class="responsive-tab-title ttitle"><p><strong><span class="icon-layers"></span> <br>
                                            Hotel Rooms</strong></p></div>
                                <div class="col-md-5">
                                    <div class="tabstyle-9-feature-box"> <img src="./shortcodes-tabs_files/hl-11.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                <!--end item-->

                                <div class="col-md-7 col-sm-7 col-xs-12 margin-bottom">
                                    <div class="tabstyle-9-feature-box-2">
                                        <h4 class="uppercase">Hotel Rooms</h4>
                                        <h6 class="raleway">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue</h6>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor sit amet consectetuer adipiscing eli Suspendisse et justo sit amet justo elite. </p>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor. </p>
                                        <br>
                                        <a class="read-more" href="http://www.gsrthemes.com/themes/matri/shortcodes-tabs.html#">Read more &nbsp; &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                </div>
                                <!--end item--> 

                            </div>
                            <!--end panel 2-->

                            <div id="example-1-tab-3" class="responsive-tabs-panel" style="display: none;">
                                <div class="responsive-tab-title ttitle"><p><strong><span class="icon-desktop"></span> <br>
                                            Spa &amp; Massage</strong></p></div>
                                <div class="col-md-7">
                                    <div class="tabstyle-9-feature-box-2">
                                        <h4 class="uppercase">Spa &amp; Massage</h4>
                                        <h6 class="raleway">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue</h6>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor sit amet consectetuer adipiscing eli Suspendisse et justo sit amet justo elite. </p>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor. </p>
                                        <br>
                                        <a class="read-more" href="http://www.gsrthemes.com/themes/matri/shortcodes-tabs.html#">Read more &nbsp; &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                </div>
                                <!--end item-->

                                <div class="col-md-5">
                                    <div class="tabstyle-9-feature-box"> <img src="./shortcodes-tabs_files/hl-12.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                <!--end item--> 
                            </div>
                            <!--end panel 3-->

                            <div id="example-1-tab-4" class="responsive-tabs-panel" style="display: none;">
                                <div class="responsive-tab-title ttitle"><p><strong><span class="icon-envelope"></span> <br>
                                            Bar</strong></p></div>
                                <div class="col-md-7">
                                    <div class="tabstyle-9-feature-box-2">
                                        <h4 class="uppercase">Bar &amp; Restaurant</h4>
                                        <h6 class="raleway">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue</h6>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor sit amet consectetuer adipiscing eli Suspendisse et justo sit amet justo elite. </p>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor. </p>
                                        <br>
                                        <a class="read-more" href="http://www.gsrthemes.com/themes/matri/shortcodes-tabs.html#">Read more &nbsp; &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                </div>
                                <!--end item-->

                                <div class="col-md-5">
                                    <div class="tabstyle-9-feature-box"> <img src="./shortcodes-tabs_files/hl-13.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                <!--end item--> 
                            </div>
                            <!--end panel 4-->

                            <div id="example-1-tab-5" class="responsive-tabs-panel" style="display: none;">
                                <div class="responsive-tab-title ttitle"><p><strong><span class="icon-briefcase"></span> <br>
                                            sport-club</strong></p></div>
                                <div class="col-md-7">
                                    <div class="tabstyle-9-feature-box-2">
                                        <h4 class="uppercase">Sport Club</h4>
                                        <h6 class="raleway">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue</h6>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor sit amet consectetuer adipiscing eli Suspendisse et justo sit amet justo elite. </p>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor. </p>
                                        <br>
                                        <a class="read-more" href="http://www.gsrthemes.com/themes/matri/shortcodes-tabs.html#">Read more &nbsp; &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                </div>
                                <!--end item-->

                                <div class="col-md-5">
                                    <div class="tabstyle-9-feature-box"> <img src="./shortcodes-tabs_files/hl-14.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                <!--end item--> 
                            </div>
                            <!--end panel 5-->
                            <div id="example-1-tab-6" class="responsive-tabs-panel" style="display: none;">
                                <div class="responsive-tab-title ttitle"><p><strong><span class="icon-lock"></span> <br>
                                            Events</strong></p></div>
                                <div class="col-md-7">
                                    <div class="tabstyle-9-feature-box-2">
                                        <h4 class="uppercase">Events &amp; Partys</h4>
                                        <h6 class="raleway">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue</h6>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor sit amet consectetuer adipiscing eli Suspendisse et justo sit amet justo elite. </p>
                                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor. </p>
                                        <br>
                                        <a class="read-more" href="http://www.gsrthemes.com/themes/matri/shortcodes-tabs.html#">Read more &nbsp; &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                </div>
                                <!--end item-->
                                <div class="col-md-5">
                                    <div class="tabstyle-9-feature-box"> <img src="./shortcodes-tabs_files/hl-15.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                <!--end item--> 
                            </div>
                        </div>
                    </div>
                    <!--end column--> 
                </div>
            </div>
        </div>
    </section>
