<div class="header-section style1 noborder no-bg fn-mar pin-style">
    <div class="container">
        <div class="mod-menu">
            <div class="row">
                <div class="col-sm-2"> <a href="{{path('home')}}" title="" class="logo style-2 mar-4"> <img src="{{asset('hub-logo-white.png')}}" alt=""> </a> </div>
                <div class="col-sm-10">
                      {% include "shared/menu.links.html.twig" %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--end menu--> 
