<style>
    #honourRentalRequestDlg{
        
    }
    #honourRentalRequestDlg .modal-dialog  {width:80%; border-radius: 3px;}
</style>
<div id="honourRentalRequestDlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">        
        <div class="modal-content" id="response">                                                                                    
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


