<style>
    #rentalWeeklyDealDlg{
        top: 5%;
    }
    #rentalWeeklyDealDlg .modal-dialog  {width:45%; border-radius: 3px;}
</style>
<div id="rentalWeeklyDealDlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">        
        <div class="modal-content" id="rental-weekly-deal-form-panel">           

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


