<style>
    #rentalPromoDlg{
        top: 5%;
    }
    #rentalPromoDlg .modal-dialog  {width:40%; border-radius: 3px;}
</style>
<div id="rentalPromoDlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">        
        <div class="modal-content" id="rental-promo-form-panel">           

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
