<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <script id="tinyhippos-injected">
        if (window.top.ripple) {
            window.top.ripple("bootstrap").inject(window, document);
        }
    </script>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{% block title %} {% endblock %}</title>
        <link href="{{asset('css/404-etc-styles.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    </head>

    <body>
         {% set previousPage = app.request.headers.get('referer') %} 
        <div class="{% block bodyCss %}body-404{% endblock %}">
            <h1 style="color:red; font-size: 28px">
                <span>{% block bodyHeading %}Ever feel you're in the wrong place{% endblock %}</span>
            </h1>
            <p align="center">
                <a href="{{previousPage}}" style="font-size:2">Back to Previous Page</a>
            </p>
            <div class="info-container">
                <div class="inner-border clear-fix">
                    <h2 class="info-top">
                      {% block topInfo %}   {{ status_code }} {{ status_text }} {% endblock %}
                    </h2>
                    <div class="site-owner-404">
                        {% block ownerContent %}
                            <h3>If you're the <strong>site owner,</strong> one of two things happened:</h3>
                            <ol>
                                <li>
                                    1) You entered an incorrect URL into your browser's address bar, or
                                </li>
                                <li>
                                    2) You haven't uploaded content.
                                </li>
                            </ol>
                        {% endblock %}
                    </div>
                    <div class="site-visitor-404">
                        {% block visitorContent %}
                            <h3>If you're a <strong>visitor</strong> and not sure what happened:</h3>
                            <ol>
                                <li>
                                    1) You entered or copied the URL incorrectly or
                                </li>
                                <li>
                                    2) The link you used to get here is faulty.
                                </li>
                                <li class="last">
                                    (It's an excellent idea to let the link owner know.)
                                </li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
