<div class="col-md-9 col-sm-12 col-xs-12">
    <h4 class="text-gyellow"><strong>Do you run a consultancy or construction firm?</strong></h4>
    <p>
        If you run a consultancy firm in the built environment or are involved in construction of <strong><a  href="#">buildings</a></strong>, <a href="#"><strong>roads</strong></a>, 
        <a href="#"><strong>water tanks</strong></a>, <a href="#"><strong>bore hole drilling</strong></a>, <a href="#"><strong>oil and minerals exploration</strong></a> and many more, 
        <a href="#">BuildersHub</a> helps you expand your reach and secure more contracts.
    </p>
</div>
<div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:20px"><a class="btn btn-cyan btn-small round pull-right uppercase" href="{{path('register_store', {'type':'firm'})}}" target="_new">Promote your Firm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>

