<div class="col-md-9 col-sm-12 col-xs-12">
    <h4 class="text-gyellow"><strong>Are you a supplier of building & constructions materials or equipment?</strong></h4>
    <p>
        If you deal in building and construction supplies such as <strong><a  href="#">building materials</a></strong>, <a href="#"><strong>equipment & hand tool</strong></a>, 
        <a href="#"><strong>interior decor & furniture</strong></a>, <a href="#"><strong>kitchen & sanitary wares</strong></a> and many more, <a href="#">BuildersHub</a> helps you reach millions of potential buyers.
    </p>
</div>
<div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:20px"><a class="btn btn-cyan btn-small round pull-right uppercase" href="{{path('register_store')}}" target="_new">Sell on BuildersHub <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>


