<div id="rental-mqr">
    <div id="rental-mqr-tab">
        <a class="btn btn-success btn-medium round"  title="Equipment Hiring Request"> <i class="fa fa-envelope"></i> Equipment Hiring Request</a>        
    </div>
</div>
